{{page-title "Ember Sample Apps"}}

<header class="header">
  <h1>Ember Sample Apps</h1>
  <hr class="hr1">
  <hr class="hr2">
</header>
<main id="main" class="main">
  <p class="intro">Sometimes it’s desirable to learn by looking at someone else’s code. Ember Sample Apps is a collection of small apps that do a single thing, with the goal of making learning easier.</p>
  
  <ul role="list" class="cards">
    <li><a href="https://github.com/ember-sample-apps/accessibility-base" rel="external">Accessibility Base</a></li>
    <li><a href="https://github.com/ember-sample-apps/fetch-example" rel="external">Fetch Example</a></li>
    <li><a href="https://github.com/ember-sample-apps/grid-layout-example" rel="external">Grid Layout Example</a></li>
    <li><a href="https://github.com/ember-sample-apps/meta-tags" rel="external">Meta Tags</a></li>
    <li><a href="https://github.com/ember-sample-apps/tailwind-example" rel="external">Using Tailwind</a></li>
    <li><a href="https://github.com/ember-sample-apps/mobile-friendly" rel="external">Mobile App</a></li>
  </ul>
</main>
<footer class="footer"><p class="flex-row"><small>Made with ❤️ by <a href="https://github.com/melsumner" rel="external">Melanie Sumner</a>. Hosted by <a href="https://netlify.com">Netlify</a>.</small></p></footer>
